<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>领支付宝红包</title>
</head>
<body>
<h1>请用手机浏览器打开页面，领取支付宝红包</h1>
<a href=$!{code} >
    <h2>点击领取支付宝红包</h2>
</a>
</body>
<script>
    window.onload = function () {
        window.location.href = $!{code}
    }
</script>
</html>